bookmarks/workflow/website to bookmark _ AI tags -_ Notion upsert.json
{
  "name": "website to bookmark > AI tags -> Notion upsert",
  "nodes": [
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "8e53e047-0bba-4a15-8cc1-e1c8d1583905",
          "mode": "list",
          "cachedResultName": "Bookmark",
          "cachedResultUrl": "https://www.notion.so/8e53e0470bba4a158cc1e1c8d1583905"
        },
        "title": "={{ $json.output.Title }}",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "URL|url",
              "ignoreIfEmpty": true,
              "urlValue": "={{ $json.output.URL || ''}}"
            },
            {
              "key": "Person|rich_text",
              "textContent": "={{ $json.output.Person  || ''}}"
            },
            {
              "key": "Raw metadata|rich_text",
              "textContent": "={{ String($json.output.Tags || \"\") }}"
            },
            {
              "key": "Tags|multi_select",
              "multiSelectValue": "={{ $json.output.Tags  || [] }}"
            },
            {
              "key": "Format|multi_select",
              "multiSelectValue": "={{ $json.output.facet_format }}"
            },
            {
              "key": "Topic|multi_select",
              "multiSelectValue": "={{ $json.output.facet_topic }}"
            },
            {
              "key": "Function|multi_select",
              "multiSelectValue": "={{ $json.output.facet_function }}"
            },
            {
              "key": "Tech Stack|multi_select",
              "multiSelectValue": "={{ $json.output.facet_tech_stack }}"
            }
          ]
        },
        "blockUi": {
          "blockValues": [
            {
              "type": "image",
              "url": "={{ $json.output.Cover  || 'https://placehold.co/1080x600?text=No+Cover' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "cf8e5a06-8e76-4ce2-b16f-137b6906f2ae",
      "name": "Notion Create",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [
        1600,
        160
      ],
      "credentials": {
        "notionApi": {
          "id": "bDm8PT41kde5yZFK",
          "name": "bookmarks"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        752,
        -16
      ],
      "id": "623b9f27-ae74-43b2-bca6-ea53509cd15b",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "DUTZLzREZGc8fX9y",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "scrape",
        "url": "={{ $('Extract URL from TG message').item.json.url }}",
        "requestOptions": {}
      },
      "type": "@mendable/n8n-nodes-firecrawl.firecrawl",
      "typeVersion": 1,
      "position": [
        240,
        160
      ],
      "id": "7f138e8e-a9cc-4e45-ba64-e96276865638",
      "name": "Scrape a URL and get content as markdown or other formats",
      "credentials": {
        "firecrawlApi": {
          "id": "nYuWT3xYRGVhHBDQ",
          "name": "Firecrawl account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"Title\": {\n      \"type\": \"string\"\n    },\n    \"URL\": {\n      \"type\": \"string\"\n    },\n    \"Like\": {\n      \"type\": \"boolean\"\n    },\n    \"Cover\": {\n      \"type\": \"string\"\n    },\n    \"Person\": {\n      \"type\": \"string\"\n    },\n    \"Raw metadata\": {\n      \"type\": \"string\"\n    },\n    \"Saved\": {\n      \"type\": \"string\"\n    },\n    \"Tags\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"string\"\n      }\n    }\n  }\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        880,
        -16
      ],
      "id": "dd51a87e-f49b-4d76-ba45-49fc6c2452b1",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "VBdkWJwmLz12cKdy",
          "mode": "list",
          "cachedResultUrl": "/workflow/VBdkWJwmLz12cKdy",
          "cachedResultName": "Check link in DB"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [
            "url"
          ],
          "schema": [
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -432,
        -128
      ],
      "id": "7ba2af4e-caf3-4767-858a-61dcc08fd47b",
      "name": "Call 'Check link in DB'"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -1104,
        -128
      ],
      "id": "b065d512-9e4b-4ec1-951c-5099f5ba2a00",
      "name": "Telegram Trigger",
      "webhookId": "a3e6103c-5e73-465d-a301-3f67b3c67205",
      "credentials": {
        "telegramApi": {
          "id": "dSb9JS2DrQ9q9yM4",
          "name": "@dapohuikakpustrabotaetbot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const text = $input.first().json.message.text || '';\n\nconst urlMatch = text.match(/https?:\\/\\/\\S+/);\nconst url = urlMatch ? urlMatch[0] : null;\n\nlet cleanText = text;\nif (url) {\n  cleanText = text.replace(url, '').replace(/\\s+/g, ' ').trim();\n}\n\nreturn [\n  {\n    json: {\n      url: url,\n      text: cleanText\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -880,
        -32
      ],
      "id": "16b223a2-2b6a-434f-b9df-799e08619d9a",
      "name": "Extract URL from TG message"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "=Already exists! ",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        16,
        -224
      ],
      "id": "ed100138-87c1-4c35-967b-70d7c6671197",
      "name": "TG: send exists message ",
      "webhookId": "880ec2dc-75d8-4261-bb5e-cb9e39f18f83",
      "credentials": {
        "telegramApi": {
          "id": "dSb9JS2DrQ9q9yM4",
          "name": "@dapohuikakpustrabotaetbot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "=Nice! Now you have it! ;) \n{{ $json.url }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1824,
        160
      ],
      "id": "07cfa6d0-e74f-4bed-a8d0-47dd4bb68367",
      "name": "Send a text message",
      "webhookId": "39bea18b-3400-4c05-a209-2e07624e0bde",
      "credentials": {
        "telegramApi": {
          "id": "dSb9JS2DrQ9q9yM4",
          "name": "@dapohuikakpustrabotaetbot"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=**ROLE**\nYou are a Metadata Extraction Specialist.\nYour only job: extract and clean factual fields from raw web metadata.\nNo classification. No inference beyond explicit metadata.\n\n---\n\n# INPUT\n\nUSER_MESSAGE: {{ $('Extract URL from TG message').item.json.text }}\nURL: {{ $('Extract URL from TG message').item.json.url }}\n\nFIRECRAWL_METADATA: {{ JSON.stringify($json.data.metadata, null, 2) }}\n\n---\n\n# OUTPUT\nReturn exactly one JSON object.\nReturn ALL keys with exact spelling.\n\n{\n  \"source_type\": \"\",\n  \"Title\": \"\",\n  \"URL\": \"\",\n  \"Like\": false,\n  \"Cover\": \"\",\n  \"Person\": \"\",\n  \"Raw metadata\": \"\",\n  \"description_for_classifier\": \"\",\n  \"Saved\": \"\",\n  \"Tags\": [],\n  \"facet_format\": [],\n  \"facet_topic\": [],\n  \"facet_function\": [],\n  \"facet_tech_stack\": []\n}\n\n---\n\n# DEFAULTS\n\n- Unknown string -> \"\"\n- Unknown boolean -> false\n- Unknown array -> []\n- Do not omit keys\n\n---\n\n# RULES\n\n## source_type\nDetect from URL/domain. Use exactly one of:\ngithub_repo | youtube_video | huggingface_model | article | documentation | other\n\n## URL\nPriority:\n1. og:url\n2. metadata url\n3. input URL\n\n## Title\nPriority:\n1. og:title\n2. title\n3. first H1\n4. domain\n\nCleaning rules — apply strictly in order:\n1. Strip \"GitHub - owner/repo: \" prefix\n2. Strip \" · GitHub\", \" - GitHub\", \" | GitHub\", \" | YouTube\" suffixes\n3. For GitHub repos: if result is still longer than 60 chars, extract repo name from nwo field\n4. For YouTube: keep video title as-is after suffix stripping\n5. Max 60 characters. Hard limit. Cut at last full word if needed.\n\n## Person\nPrimary identity of publisher:\n- GitHub -> repository owner from octolytics-dimension-user_login or nwo prefix\n- YouTube -> channel name from metadata\n- HuggingFace -> model owner from URL path\n- Other -> og:site_name or domain\n\n## Cover\nAbsolute URL only.\nPriority:\n1. og:image\n2. twitter:image\n3. any absolute image URL in metadata\nIf none -> \"\"\n\n## Raw metadata\nOne factual line only.\nOnly confirmed facts.\nNever say \"not stated\".\n\nExamples:\n- GitHub repository msitarzewski/agency-agents; public; not forked.\n- YouTube video; channel: Tranquility Music.\n- HuggingFace model nvidia/parakeet-ctc-1.1b.\n\n## description_for_classifier\nClean text for downstream classifier.\nCombine in order, separated by \" | \":\n1. og:description or description, trimmed to 300 chars\n2. source_type\n3. Person\n\nStrip HTML and boilerplate.\n\n## Other fields\n- Like -> false\n- Saved -> USER_MESSAGE with URL removed and spaces normalized\n- Tags -> []\n- facet_format -> []\n- facet_topic -> []\n- facet_function -> []\n- facet_tech_stack -> []\n\n---\n\n# IMPORTANT\n- Return JSON only\n- No markdown\n- No explanations\n- No wrapper\n- No extra keys",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        752,
        -240
      ],
      "id": "4f02f609-61e2-4d70-8a70-823c5f0c1920",
      "name": "Agent: info extractor"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "aec13445-e06f-4209-b81f-bd71e384fbf7",
              "leftValue": "={{ $json.url_is_present }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": "={{ true }}",
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -208,
        -128
      ],
      "id": "6aaa5dc3-158d-4857-823f-91ebce231813",
      "name": "Do yoy have link in your DB?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "f5916f5d-7900-4323-aca3-7190024e74a4",
              "leftValue": "={{ $json.url }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -656,
        -32
      ],
      "id": "c39a9a0d-bca4-418b-b3f7-0637b7d3627b",
      "name": "Do you have a link in mesasge?"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "No  URL is in you message!",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -432,
        64
      ],
      "id": "b1787c9d-030f-4a13-9aa0-83445b25c92e",
      "name": "TG: send no url message",
      "webhookId": "b1937c45-5acf-4228-a37b-dc9d9ae75a19",
      "credentials": {
        "telegramApi": {
          "id": "dSb9JS2DrQ9q9yM4",
          "name": "@dapohuikakpustrabotaetbot"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "bookmarks",
          "mode": "list",
          "cachedResultName": "bookmarks"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "user_id": 777,
            "facet_format": "={{ $json.output.facet_format }}",
            "facet_topic": "={{ $json.output.facet_topic }}",
            "facet_function": "={{ $json.output.facet_function }}",
            "created_at": "={{ $json.created_at || $now.toISO() }}",
            "facet_tech_stack": "={{ $json.output.facet_tech_stack }}",
            "title": "={{ $json.output.Title }}",
            "url": "={{ $json.output.URL }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "notion_page_id",
              "displayName": "notion_page_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "url",
              "displayName": "url",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "facet_format",
              "displayName": "facet_format",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "array",
              "canBeUsedToMatch": true
            },
            {
              "id": "facet_topic",
              "displayName": "facet_topic",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "array",
              "canBeUsedToMatch": true
            },
            {
              "id": "facet_function",
              "displayName": "facet_function",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "array",
              "canBeUsedToMatch": true
            },
            {
              "id": "facet_tech_stack",
              "displayName": "facet_tech_stack",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "array",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1600,
        -32
      ],
      "id": "b6c4face-d867-412c-b49d-03d3a6a93cde",
      "name": "Insert rows in a table",
      "credentials": {
        "postgres": {
          "id": "WGrG0fYFjpNI5oEC",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT json_build_object(\n  'format',      (SELECT array_agg(DISTINCT f) FROM bookmarks, unnest(facet_format) f),\n  'topic',       (SELECT array_agg(DISTINCT t) FROM bookmarks, unnest(facet_topic) t),\n  'function',    (SELECT array_agg(DISTINCT fn) FROM bookmarks, unnest(facet_function) fn),\n  'tech_stack',  (SELECT array_agg(DISTINCT ts) FROM bookmarks, unnest(facet_tech_stack) ts)\n) AS facets;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        240,
        -32
      ],
      "id": "c6d127da-3d21-4a1a-81c3-094e1293ed95",
      "name": "Select distince facets",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "WGrG0fYFjpNI5oEC",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        16,
        -32
      ],
      "id": "4b49cd3b-7780-44c1-be0e-7b283dd6e5f1",
      "name": "URL was not processed yet"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        464,
        64
      ],
      "id": "b36a922a-1fb5-41d9-8ad2-bd79f89971f6",
      "name": "Merge"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "Ok, lemme save it to ya",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        240,
        -224
      ],
      "id": "764f2d09-4c3c-456e-a3ed-a201ebe9f0b8",
      "name": "TG: send process message",
      "webhookId": "89ea10bc-337c-4742-88b6-4db637573883",
      "credentials": {
        "telegramApi": {
          "id": "dSb9JS2DrQ9q9yM4",
          "name": "@dapohuikakpustrabotaetbot"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1104,
        64
      ],
      "id": "e07bec96-7ef5-4a3a-bf87-46e826e28639",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "With this tool you can access to all existing facets in DB. You can check if your ideas already matching existing facets or find more appropriate to avoid dumplication.",
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "bookmarks",
          "mode": "list",
          "cachedResultName": "bookmarks"
        },
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        816,
        496
      ],
      "id": "df099778-718a-406f-a9df-36bb87cbaac2",
      "name": "Select rows from a table in Postgres",
      "credentials": {
        "postgres": {
          "id": "WGrG0fYFjpNI5oEC",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=**ROLE**\nYou are a Facet Classification Specialist.\n\nYour job is to assign facet values to a resource using only the provided input signals and the existing facet database.\n\nYou perform classification only.\nDo not explain anything.\n\n---\n\n# INPUT\n\nUSER_INTENTION: {{ $('Extract URL from TG message').item.json.text }}\nURL: {{ $('Extract URL from TG message').item.json.url }}\nRAW_METADATA: {{ JSON.stringify($json.data.metadata, null, 2) }}\n\n---\n\n# CORE PRINCIPLE\n\nEvery facet must be grounded in explicit evidence from:\n- USER_INTENTION\n- URL\n- RAW_METADATA\n\nDo not infer capabilities, topics, or technologies that are not clearly supported by the input.\n\nIf a candidate facet is weakly supported or speculative, discard it.\n\n---\n\n# TASK\n\nClassify the resource into these facet groups:\n\n- facet_format\n- facet_topic\n- facet_function\n- facet_tech_stack\n\nReturn only the most relevant facets.\n\n---\n\n# INTERNAL WORKFLOW\n\nFollow this process internally:\n\nStep 1. Generate up to 10 candidate facets from the input alone.\nUse only evidence from USER_INTENTION, URL, and RAW_METADATA.\n\nStep 2. Compare those 10 candidates against FACETS_FROM_DB.\nIf an existing database facet matches the same concept well, reuse the database facet spelling exactly.\n\nStep 3. Re-rank all candidates by relevance and evidence strength.\n\nStep 4. Keep only the best candidates.\nMaximum total facets across all groups: 5.\n\nStep 5. Place each selected facet into the most appropriate group:\n- facet_format\n- facet_topic\n- facet_function\n- facet_tech_stack\n\n---\n\n# FACET GROUP DEFINITIONS\n\nfacet_format\nThe type of resource itself.\nThis describes what the resource is.\n\nfacet_topic\nWhat the resource is about.\nThis describes the subject, domain, or concept.\n\nfacet_function\nWhat the resource is used for.\nThis describes the practical purpose or capability.\n\nfacet_tech_stack\nNamed technologies actually used by the resource itself.\n\n---\n\n# SELECTION RULES\n\nPrefer facets that are:\n- explicitly supported\n- specific\n- reusable\n- high-signal\n\nAvoid facets that are:\n- vague\n- generic\n- speculative\n- marketing-style\n- not grounded in the input\n\nDiscard low-signal facets such as:\nsoftware, project, tool, app, useful, system\n\nDo not include hosting websites as tech_stack unless the input clearly shows they are part of the resource technology itself.\n\n---\n\n# NORMALIZATION RULES\n\nWhen creating a NEW facet:\n- prefer a short canonical form\n- lowercase by default\n- use a single word when possible\n- avoid punctuation\n- avoid decorative wording\n\nIf FACETS_FROM_DB already contains a matching concept, reuse that value exactly instead of inventing a variant.\n\nRemove duplicates.\n\n---\n\n# LIMITS\n\n- Up to 2 values in facet_format\n- Up to 3 values in facet_topic\n- Up to 2 values in facet_function\n- Up to 2 values in facet_tech_stack\n- Maximum total facets across all groups: 5\n\nReturn empty arrays where nothing is strongly supported.\n\n---",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        752,
        272
      ],
      "id": "17ef72e3-fa3f-4905-83bf-01d01b300e4e",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        688,
        496
      ],
      "id": "cf89078a-8f41-45eb-8d15-19705df73229",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "DUTZLzREZGc8fX9y",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"facet_format\": [\"plugin\", \"repository\"],\n  \"facet_topic\": [\"obs\", \"streaming\", \"shaders\"],\n  \"facet_function\": [\"filtering\"],\n  \"facet_tech_stack\": [\"OBS\", \"GitHub\"]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        944,
        496
      ],
      "id": "bf678d59-42dc-4a62-b0fe-a154acf91c9e",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1152,
        64
      ],
      "id": "5cfb58d2-9e9d-4611-b4d9-458c438d9d4d",
      "name": "Final bookmark"
    },
    {
      "parameters": {
        "jsCode": "const merged = {};\n\nfor (const item of $input.all()) {\n  const obj = item.json.output || {};\n  Object.assign(merged, obj);\n}\n\nreturn [\n  {\n    json: {\n      output: merged\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1376,
        64
      ],
      "id": "8432a589-c42a-4ed1-89fa-3700cf2e5c2c",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "content": "### Добавить реранкер, сделать пипилине - кандидаты, Facet selector / reranker",
        "height": 112,
        "width": 368
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1040,
        256
      ],
      "typeVersion": 1,
      "id": "e8476ab5-e4f9-4f1d-a200-be282de3ef02",
      "name": "Sticky Note"
    }
  ],
  "pinData": {
    "When clicking ‘Execute workflow’": [
      {
        "json": {
          "update_id": 100000001,
          "message": {
            "message_id": 12,
            "date": 1700000000,
            "chat": {
              "id": 123456789,
              "type": "private",
              "username": "test_user",
              "first_name": "Test"
            },
            "from": {
              "id": 123456789,
              "is_bot": false,
              "username": "test_user",
              "first_name": "Test",
              "language_code": "ru"
            },
            "text": "https://github.com/66HEX/frame буду сжимать свои видосы"
          }
        }
      }
    ]
  },
  "connections": {
    "Notion Create": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Agent: info extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Scrape a URL and get content as markdown or other formats": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Agent: info extractor",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Check link in DB'": {
      "main": [
        [
          {
            "node": "Do yoy have link in your DB?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Extract URL from TG message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract URL from TG message": {
      "main": [
        [
          {
            "node": "Do you have a link in mesasge?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent: info extractor": {
      "main": [
        [
          {
            "node": "Final bookmark",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Do yoy have link in your DB?": {
      "main": [
        [
          {
            "node": "TG: send exists message ",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "URL was not processed yet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Do you have a link in mesasge?": {
      "main": [
        [
          {
            "node": "Call 'Check link in DB'",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "TG: send no url message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert rows in a table": {
      "main": [
        []
      ]
    },
    "Select distince facets": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "URL was not processed yet": {
      "main": [
        [
          {
            "node": "Select distince facets",
            "type": "main",
            "index": 0
          },
          {
            "node": "Scrape a URL and get content as markdown or other formats",
            "type": "main",
            "index": 0
          },
          {
            "node": "TG: send process message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Agent: info extractor",
            "type": "main",
            "index": 0
          },
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Extract URL from TG message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select rows from a table in Postgres": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Final bookmark",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Final bookmark": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Notion Create",
            "type": "main",
            "index": 0
          },
          {
            "node": "Insert rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "1958e3a6-2c00-456c-8268-d9424522ebf9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ad5e3c0acd703e58f5da60365194baa7b09a78089606e118e0e06674650d5b8d"
  },
  "id": "PYZQhO0hREVBWMnL",
  "tags": []
}