bookmarks/workflow/website to bookmark _ AI tags -_ Notion upsert.json
{
  "name": "website to bookmark > AI tags -> Notion upsert",
  "nodes": [
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "8e53e047-0bba-4a15-8cc1-e1c8d1583905",
          "mode": "list",
          "cachedResultName": "Bookmark",
          "cachedResultUrl": "https://www.notion.so/8e53e0470bba4a158cc1e1c8d1583905"
        },
        "title": "={{ $json.output.Title }}",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "URL|url",
              "ignoreIfEmpty": true,
              "urlValue": "={{ $json.output.URL || ''}}"
            },
            {
              "key": "Person|rich_text",
              "textContent": "={{ $json.output.Person  || ''}}"
            },
            {
              "key": "Raw metadata|rich_text",
              "textContent": "={{ String($json.output.Tags || \"\") }}"
            },
            {
              "key": "Tags|multi_select",
              "multiSelectValue": "={{ $json.output.Tags  || [] }}"
            }
          ]
        },
        "blockUi": {
          "blockValues": [
            {
              "type": "image",
              "url": "={{ $json.output.Cover  || 'https://placehold.co/1080x600?text=No+Cover' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "cf8e5a06-8e76-4ce2-b16f-137b6906f2ae",
      "name": "Notion Create",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [
        1088,
        96
      ],
      "credentials": {
        "notionApi": {
          "id": "bDm8PT41kde5yZFK",
          "name": "bookmarks"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        624,
        416
      ],
      "id": "623b9f27-ae74-43b2-bca6-ea53509cd15b",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "DUTZLzREZGc8fX9y",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "scrape",
        "url": "={{ $('Extract URL from TG message').item.json.url }}",
        "requestOptions": {}
      },
      "type": "@mendable/n8n-nodes-firecrawl.firecrawl",
      "typeVersion": 1,
      "position": [
        176,
        288
      ],
      "id": "7f138e8e-a9cc-4e45-ba64-e96276865638",
      "name": "Scrape a URL and get content as markdown or other formats",
      "credentials": {
        "firecrawlApi": {
          "id": "nYuWT3xYRGVhHBDQ",
          "name": "Firecrawl account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"Title\": {\n      \"type\": \"string\"\n    },\n    \"URL\": {\n      \"type\": \"string\"\n    },\n    \"Like\": {\n      \"type\": \"boolean\"\n    },\n    \"Cover\": {\n      \"type\": \"string\"\n    },\n    \"Person\": {\n      \"type\": \"string\"\n    },\n    \"Raw metadata\": {\n      \"type\": \"string\"\n    },\n    \"Saved\": {\n      \"type\": \"string\"\n    },\n    \"Tags\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"string\"\n      }\n    },\n    \"facet_format\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"string\"\n      }\n    },\n    \"facet_topic\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"string\"\n      }\n    },\n    \"facet_function\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"string\"\n      }\n    },\n    \"facet_tech_stack\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"string\"\n      }\n    }\n  }\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        880,
        416
      ],
      "id": "dd51a87e-f49b-4d76-ba45-49fc6c2452b1",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "VBdkWJwmLz12cKdy",
          "mode": "list",
          "cachedResultUrl": "/workflow/VBdkWJwmLz12cKdy",
          "cachedResultName": "Check link in DB"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -496,
        96
      ],
      "id": "7ba2af4e-caf3-4767-858a-61dcc08fd47b",
      "name": "Call 'Check link in DB'"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -1168,
        96
      ],
      "id": "b065d512-9e4b-4ec1-951c-5099f5ba2a00",
      "name": "Telegram Trigger",
      "webhookId": "a3e6103c-5e73-465d-a301-3f67b3c67205",
      "credentials": {
        "telegramApi": {
          "id": "dSb9JS2DrQ9q9yM4",
          "name": "@dapohuikakpustrabotaetbot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const text = $input.first().json.message.text || '';\nconst match = text.match(/https?:\\/\\/\\S+/);\nreturn [\n  {\n    json: {\n      url: match ? match[0] : null,\n    },\n  },\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -944,
        192
      ],
      "id": "16b223a2-2b6a-434f-b9df-799e08619d9a",
      "name": "Extract URL from TG message"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "=Already exists! \nYou can find it here: {{ $json.url }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -48,
        0
      ],
      "id": "ed100138-87c1-4c35-967b-70d7c6671197",
      "name": "TG: send exists message ",
      "webhookId": "880ec2dc-75d8-4261-bb5e-cb9e39f18f83",
      "credentials": {
        "telegramApi": {
          "id": "dSb9JS2DrQ9q9yM4",
          "name": "@dapohuikakpustrabotaetbot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "=Nice! Now you have it! ;) \n{{ $json.url }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1312,
        192
      ],
      "id": "07cfa6d0-e74f-4bed-a8d0-47dd4bb68367",
      "name": "Send a text message",
      "webhookId": "39bea18b-3400-4c05-a209-2e07624e0bde",
      "credentials": {
        "telegramApi": {
          "id": "dSb9JS2DrQ9q9yM4",
          "name": "@dapohuikakpustrabotaetbot"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=**ROLE**\nYou are a Senior Data Ontologist & Bookmark Librarian. Extract high-signal metadata from any web resource to populate a Notion Smart Bookmark.\n\n**INPUTS**\n- FIRECRAWL_METADATA: {{ $json.data.metadata }}\n- FIRECRAWL_MARKDOWN: {{ $json.data.markdown }}\n- EXISTING_FACETS_LIBRARY (NOT CONTENT):\n  - Formats: {{ $json.facets.format }}\n  - Topics: {{ $json.facets.topic }}\n  - Functions: {{ $json.facets.function }}\n  - Tech Stack: {{ $json.facets.tech_stack }}\n\n**OUTPUT (STRICT)**\nReturn ONLY these keys (exact spelling), and always include all of them:\nTitle, URL, Like, Cover, Person, Raw metadata, Saved, Tags, facet_format, facet_topic, facet_function, facet_tech_stack\n\n**DEFAULTS**\n- Unknown string => \"\"\n- Unknown arrays => []\n\n**NO HALLUCINATIONS**\nUse only information explicitly present in FIRECRAWL_METADATA or FIRECRAWL_MARKDOWN. If not present, leave empty.\n\n**URL**\nPrefer canonical/og:url from metadata; else keep the input URL.\n\n**TITLE**\nPrefer metadata title/og:title; else first H1 in markdown; else domain. Remove obvious boilerplate suffixes.\n\n**PERSON (SOURCE/PUBLISHER)**\nChoose the primary publisher/source identity (not the speaker).\n- YouTube/video: channel/creator name if explicitly present (e.g., “Channel”, “Uploader”, “Author”, “site_name”). If unclear, use site/domain.\n- GitHub: owner/org if explicitly present; else site/domain.\n- Articles/docs: author if explicitly present; else publication/site name.\n\n**COVER (ABSOLUTE URL ONLY)**\nPick the best visual URL:\n1) og:image / twitter:image / explicit thumbnail in metadata\n2) strong hero/main image URL from markdown\n3) if the URL itself is a direct image (jpg/png/webp/gif), use it\nMust be absolute; if only relative exists => \"\".\n\n**RAW METADATA (ONE LINE, FACTUAL)**\nOne compact line using only explicit facts (duration/views/published/stars/language/license/etc). If no reliable facts => \"\".\n\n**FACETS & TAGS (CRITICAL)**\nTreat EXISTING_FACETS_LIBRARY as a lookup dictionary ONLY, never as page content.\nIf the library text appears inside FIRECRAWL_MARKDOWN (e.g., headings like “EXISTING_FACETS_LIBRARY” or lists of facets), IGNORE that section completely for extraction and tagging.\n\n**FACET RULES**\n- Always fill facet_format, facet_topic, facet_function, facet_tech_stack (arrays may be empty).\n- Prefer matching existing facet values from the library (semantic match).\n- New tags are allowed when clearly central AND appear in the title or early description/content (verbatim or near-verbatim). Keep English, 1–3 words.\n\nSuggested limits:\n- facet_format: up to 2\n- facet_topic: up to 3\n- facet_function: up to 4\n- facet_tech_stack: up to 4\n\n**TAGS**\nTags MUST be the unique union of all facet_* arrays (no extra tags outside facets). Deduplicate and keep exact library spelling when reused.",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        688,
        192
      ],
      "id": "4f02f609-61e2-4d70-8a70-823c5f0c1920",
      "name": "Agent: info extractor"
    },
    {
      "parameters": {
        "toolDescription": "Use this HTTP request tool in case you dont have enought initial data to formuale JSON",
        "url": "={{ $('Scrape a URL and get content as markdown or other formats').item.json.data.metadata.ogUrl }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        752,
        416
      ],
      "id": "b17b8ef1-eb8c-4354-8751-970361f0224a",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "aec13445-e06f-4209-b81f-bd71e384fbf7",
              "leftValue": "={{ $json.url_is_present }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": "={{ true }}",
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -272,
        96
      ],
      "id": "6aaa5dc3-158d-4857-823f-91ebce231813",
      "name": "Do yoy have link in your DB?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "f5916f5d-7900-4323-aca3-7190024e74a4",
              "leftValue": "={{ $json.url }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -720,
        192
      ],
      "id": "c39a9a0d-bca4-418b-b3f7-0637b7d3627b",
      "name": "Do you have a link in mesasge?"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "No  URL is in you message!",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -496,
        288
      ],
      "id": "b1787c9d-030f-4a13-9aa0-83445b25c92e",
      "name": "TG: send no url message",
      "webhookId": "b1937c45-5acf-4228-a37b-dc9d9ae75a19",
      "credentials": {
        "telegramApi": {
          "id": "dSb9JS2DrQ9q9yM4",
          "name": "@dapohuikakpustrabotaetbot"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "bookmarks",
          "mode": "list",
          "cachedResultName": "bookmarks"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "user_id": 777,
            "facet_format": "={{ $json.output.facet_format }}",
            "facet_topic": "={{ $json.output.facet_topic }}",
            "facet_function": "={{ $json.output.facet_function }}",
            "created_at": "={{ $json.created_at || $now.toISO() }}",
            "facet_tech_stack": "={{ $json.output.facet_tech_stack }}",
            "title": "={{ $json.output.Title }}",
            "url": "={{ $json.output.URL }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "notion_page_id",
              "displayName": "notion_page_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "url",
              "displayName": "url",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "facet_format",
              "displayName": "facet_format",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "array",
              "canBeUsedToMatch": true
            },
            {
              "id": "facet_topic",
              "displayName": "facet_topic",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "array",
              "canBeUsedToMatch": true
            },
            {
              "id": "facet_function",
              "displayName": "facet_function",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "array",
              "canBeUsedToMatch": true
            },
            {
              "id": "facet_tech_stack",
              "displayName": "facet_tech_stack",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "array",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1088,
        288
      ],
      "id": "b6c4face-d867-412c-b49d-03d3a6a93cde",
      "name": "Insert rows in a table",
      "credentials": {
        "postgres": {
          "id": "WGrG0fYFjpNI5oEC",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1168,
        288
      ],
      "id": "e85f9c05-cbc0-42bd-b6a2-c481c5fa2f02",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT json_build_object(\n  'format',      (SELECT array_agg(DISTINCT f) FROM bookmarks, unnest(facet_format) f),\n  'topic',       (SELECT array_agg(DISTINCT t) FROM bookmarks, unnest(facet_topic) t),\n  'function',    (SELECT array_agg(DISTINCT fn) FROM bookmarks, unnest(facet_function) fn),\n  'tech_stack',  (SELECT array_agg(DISTINCT ts) FROM bookmarks, unnest(facet_tech_stack) ts)\n) AS facets;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        176,
        96
      ],
      "id": "c6d127da-3d21-4a1a-81c3-094e1293ed95",
      "name": "Select distince facets",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "WGrG0fYFjpNI5oEC",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -48,
        192
      ],
      "id": "4b49cd3b-7780-44c1-be0e-7b283dd6e5f1",
      "name": "URL was not processed yet"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        464,
        192
      ],
      "id": "b36a922a-1fb5-41d9-8ad2-bd79f89971f6",
      "name": "Merge"
    }
  ],
  "pinData": {
    "When clicking ‘Execute workflow’": [
      {
        "json": {
          "update_id": 100000001,
          "message": {
            "message_id": 12,
            "date": 1700000000,
            "chat": {
              "id": 123456789,
              "type": "private",
              "username": "test_user",
              "first_name": "Test"
            },
            "from": {
              "id": 123456789,
              "is_bot": false,
              "username": "test_user",
              "first_name": "Test",
              "language_code": "ru"
            },
            "text": "https://github.com/grikdotnet/ai-stenographer"
          }
        }
      }
    ]
  },
  "connections": {
    "Notion Create": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Agent: info extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Scrape a URL and get content as markdown or other formats": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Agent: info extractor",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Check link in DB'": {
      "main": [
        [
          {
            "node": "Do yoy have link in your DB?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Extract URL from TG message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract URL from TG message": {
      "main": [
        [
          {
            "node": "Do you have a link in mesasge?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent: info extractor": {
      "main": [
        [
          {
            "node": "Notion Create",
            "type": "main",
            "index": 0
          },
          {
            "node": "Insert rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "ai_tool": [
        [
          {
            "node": "Agent: info extractor",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Do yoy have link in your DB?": {
      "main": [
        [
          {
            "node": "TG: send exists message ",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "URL was not processed yet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Do you have a link in mesasge?": {
      "main": [
        [
          {
            "node": "Call 'Check link in DB'",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "TG: send no url message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert rows in a table": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Extract URL from TG message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select distince facets": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "URL was not processed yet": {
      "main": [
        [
          {
            "node": "Select distince facets",
            "type": "main",
            "index": 0
          },
          {
            "node": "Scrape a URL and get content as markdown or other formats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Agent: info extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "2001dacf-55da-473a-b69d-b249fcb72b90",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ad5e3c0acd703e58f5da60365194baa7b09a78089606e118e0e06674650d5b8d"
  },
  "id": "PYZQhO0hREVBWMnL",
  "tags": []
}